{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <h1>site/index</h1>
    <a href="{{ path('page2') }}">go to page 2</a>
    <div>
        <p>{{ data }}</p>
    </div>

{% endblock %}
