{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <h1>site/page2</h1>
    <a href="{{ path('site_index') }}">go to site/index</a>
    <div>
        <p>{{ data }}</p>
    </div>

{% endblock %}
