{% extends 'layouts/layout.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Редактирование вопроса</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Сохранить'}) }}

{% endblock %}
