{% extends 'layouts/layout.html.twig' %}
{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Создание нового вопроса</h1>

    {{ include('question/_form.html.twig') }}
{% endblock %}
